astroid==2.11.3
certifi==2021.10.8
charset-normalizer==2.0.12
dill==0.3.4
docopt==0.6.2
elastic-transport==8.1.2
elasticsearch7==7.17.2
elasticsearch8==8.1.2
Faker==13.4.0
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysqlclient==2.1.0
pip==22.0.4
pipreqs==0.4.11
platformdirs==2.5.2
psycopg==3.0.11
pylint==2.13.7
pymongo==4.1.1
PyPika==0.48.9
pystache==0.6.0
python-dateutil==2.8.2
requests==2.27.1
setuptools==60.10.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.0
yarg==0.1.9
redis==4.3.3
jsonschema==4.6.1
build>=0.8.0
twine>=4.0.1
poetry>=1.1.15
tqdm>=4.64.1
